{% extends "layout.html" %}
{% block content %}
    <h1>twitter feeds</h1>
<a class="twitter-timeline" href="https://twitter.com/cgaochristian?ref_src=twsrc%5Etfw">Tweets by cgaochristian</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><a class="twitter-timeline" href="https://twitter.com/cgaochristian?ref_src=twsrc%5Etfw">Tweets by cgaochristian</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock content %}
